<!DOCTYPE html>
<html>
    <head>
        <title>Shop test</title>
        <link rel="stylesheet" href="test.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="apple-touch-icon" sizes="180x180" href="nettside Bilder/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="nettside Bilder/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="nettside Bilder/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

    </head>
    <body>
        <header>
            <section>
                <img class="menu" src="nettside bilder/flagg.png" height="25px">
            </section>
    
            <section>
                <a href="https://www.youtube.com/watch?v=8YJTOse5nCc"><img class="logo" src="nettside bilder/Original.svg"></a>
            </section>
  
           <section class="ikoner">
               <a href="https://www.google.com/"><img class="flagg" id="icon" src="nettside bilder/flagg.png"></a>
               <a href="https://www.google.com/"> <img class="account" id="icon" src="nettside bilder/account.png"></a>
               <a href="https://www.google.com/"><img  class="cart" id="icon" src="nettside bilder/cart.png"></a>
            </section>
        </header>

        <section class="slogan">
            <p>vegan ● handmade ● cruelty free</p>
        </section>
        
        <nav>
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Collections</a>
                    <ul>
                        <li><a href="#">Original Collection</a></li>
                        <li><a href="#">Holiday Collection</a></li>
                        <li><a href="#">Juicy Collection</a></li>
                        <li><a href="#">Valentine Collection</a></li>
                        <li><a href="#">RhoseGold x Meraki</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Shop</a>
                    <ul>
                        <li><a href="#">Lip Gloss</a></li>
                        <li><a href="#">Lashes</a></li>
                        <li><a href="#">Bundles</a></li>

                    </ul>
                </li>
                
            </ul>
        </nav>

        <h1 class="shopH1">All Products</h1>

        <section class=rows>
            <section class="flytte">
                    <section class="contain" >
                        <a class="line" href="cinnamon view.html">
                             <img  class="bilde" src="nettside Bilder/cinnamon lipgloss.jpg" alt="cinnamon lipgloss">
                             <section class="overlay">
                                 <img class="bilde" src="nettside Bilder/cinnamon lipgloss 2.jpg" alt="cinnamon lipgloss 2" >
                            </section>
                            <p class="tekst">Cinnamon</p>
                            <p class="tekst">80 kr</p>
                        </a>    
                    </section>  
            </section>

            <section class="flytte">
                    <section class="contain">
                        <a class="line" href="https://www.youtube.com/watch?v=8YJTOse5nCc">
                            <img class="bilde" src="nettside Bilder/crystal.jpg" alt="crystal" >
                            <section class="overlay">
                                <img class="bilde" src="nettside Bilder/crystal 2.jpg" alt="crystal 2" >
                            </section>
                            <p class="tekst">Crystal</p>
                            <p class="tekst">80 kr</p>
                        </a>
                    </section>
            </section>
    
            <section class="flytte">
                    <section class="contain" >
                        <a class="line" href="https://www.google.com/">
                            <img src="nettside Bilder/Mercury.jpg" alt="Mercury" class="bilde">       
                            <p class="tekst">Mercury</p>
                            <p class="tekst">130 kr</p>
                        </a>
                    </section>
            </section>
        
            <section class="flytte">
                    <section class="contain">
                        <a class="line" href="https://www.google.com/">
                            <img src="nettside Bilder/Trio set.jpg" alt="Trio set" class="bilde">
                            <section class="overlay">
                                <img src="nettside Bilder/Trio set 2.jpg" alt="Trio set 2" class="bilde">
                            </section>
                            <p class="tekst">Trio Set</p>
                            <p class="tekst">200 kr</p>
                        </a>
                    </section>
            </section>
            
            <section class="flytte">
                    <section class="contain">
                        <a class="line" href="https://www.google.com/">
                            <img src="nettside Bilder/lip and eye bundle.jpg" alt="lip and eye bundle" class="bilde">
                            <p>Lip & Eye Bundle</p>
                            <p>185 kr</p>
                        </a>
                    </section>
            </section>
            
            <section class="flytte">
                    <section class="contain">
                        <a class="line" href="https://www.google.com/">
                            <img src="nettside Bilder/holiday bundle.jpg" alt="holiday bundle" class="bilde">
                            <section class="overlay">
                                <img src="nettside Bilder/holiday bundle 2.jpg" alt="holiday bundle" class="bilde">
                            </section>
                            <p class="tekst">Holiday Bundle</p>
                            <p class="tekst">285 kr</p>
                        </a>
                    </section>
            </section>
        </section>

        <section class=rows>
            <section class="flytte">
                    <section class="contain">
                        <a class="line" href="https://www.google.com/">
                            <img src="nettside Bilder/juicy duo.jpg" alt="juicy duo" class="bilde">
                            <section class="overlay">
                                <img src="nettside Bilder/holiday bundle 2.jpg" alt="holiday bundle" class="bilde">
                            </section>
                            <p class="tekst">Juicy Duo</p>
                            <p class="tekst">150 kr</p>
                        </a>
                    </section>
            </section>
    
            <section class="flytte">
                    <section class="contain">
                        <a class="line" href="https://www.google.com/">
                            <img src="nettside Bilder/majestic.jpg" alt="majestic" class="bilde">
                            <p class="tekst">Majestic</p>
                            <p class="tekst">130 kr</p>
                        </a>
                    </section>
            </section>

             <section class="flytte">
                    <section class="contain"> 
                        <a class="line" href="https://www.google.com/">
                            <img src="nettside Bilder/diamond.jpg" alt="diamond" class="bilde">
                            <section class="overlay">
                                <img src="nettside Bilder/diamond 2 .jpg" alt="diamond 2" class="bilde">
                            </section>
                            <p class="tekst">Diamond</p>
                            <p class="tekst">80 kr</p>
                        </a>
                    </section>
            </section> 
            
            <section class="flytte">
                    <section class="contain"> 
                        <a class="line" href="https://www.google.com/">
                            <img src="nettside Bilder/Brown sugar.jpg" alt="Brown sugar" class="bilde">
                            <section class="overlay">
                                <img src="nettside Bilder/Brown sugar2.jpg" alt="Brown Sugar 2" class="bilde">
                            </section>
                            <p class="tekst">Brown Sugar</p>
                            <p class="tekst">80 kr</p>
                        </a>
                    </section>
            </section>
    
            <section class="flytte">
                    <section class="contain">
                        <a class="line" href="https://www.google.com/">
                            <img src="nettside Bilder/frosty.jpg" alt="frosty" class="bilde">
                            <section class="overlay">
                                <img src="nettside Bilder/frosty2.jpg" alt="frosty 2" class="bilde">
                            </section>
                            <p class="tekst">Frosty</p>
                            <p class="tekst">80 kr</p>
                        </a>
                    </section>
            </section>
    
            <section class="flytte">
                    <section class="contain"> 
                        <a class="line" href="https://www.google.com/">
                            <img src="nettside Bilder/Muse.jpg" alt="Muse" class="bilde">
                            <section class="overlay">
                                <img src="nettside Bilder/Muse2.jpg" alt="Muse 2" class="bilde">
                            </section>
                            <p class="tekst">Muse</p>
                            <p class="tekst">130 kr</p>
                        </a>
                    </section>
            </section>
        </section>

        <section class=rows>
            <section class="flytte">
                    <section class="contain">
                        <a class="line" href="https://www.google.com/">
                            <img src="nettside Bilder/rhose.jpg" alt="rhose" class="bilde">
                            <section class="overlay">
                                <img src="nettside Bilder/rhose2.jpg" alt="rhose 2" class="bilde">
                            </section>
                            <p class="tekst">Rhose</p>
                            <p class="tekst">130 kr</p>
                        </a>
                    </section>
            </section>
    
            <section class="flytte">
                    <section class="contain">
                        <a class="line" href="https://www.google.com/">
                            <img src="nettside Bilder/peachie.jpg" alt="peachie" class="bilde">
                            <section class="overlay">
                                <img src="nettside Bilder/peachie2.jpg" alt="peachie 2" class="bilde">
                            </section>
                            <p class="tekst">Peachie</p>
                            <p class="tekst">80 kr</p>
                        </a>
                    </section>
            </section>
    
            <section class="flytte">
                    <section class="contain">
                        <a class="line" href="https://www.google.com/">
                            <img src="nettside Bilder/flarez.jpg" alt="flarez" class="bilde">
                            <p class="tekst">Flarez</p>
                            <p class="tekst">130 kr</p>
                        </a>
                    </section>
            </section>

            <section class="flytte">
                    <section class="contain"> 
                        <a class="line" href="https://www.google.com/">
                            <img src="nettside Bilder/lil baby2.jpg" alt="lil baby2" class="bilde">
                            <section class="overlay">
                                <img src="nettside Bilder/lil baby.jpg" alt="lil baby" class="bilde">
                            </section>
                            <p class="tekst">Lil Baby</p>
                            <p class="tekst">80 kr</p>
                        </a>
                    </section>
            </section>
            
            <section class="flytte">
                    <section class="contain">
                        <a class="line" href="https://www.google.com/">
                            <img src="nettside Bilder/24 karat.jpg" alt="24 karat" class="bilde">
                            <section class="overlay">
                                <img src="nettside Bilder/24 karat2.jpg" alt="24 karat2" class="bilde">
                            </section>
                            <p class="tekst">24 karat</p>
                            <p class="tekst">80 kr</p>
                        </a>
                    </section>
            </section>
    
            <section class="flytte">
                    <section class="contain">
                        <a class="line" href="https://www.google.com/">
                            <img src="nettside Bilder/sugarplum2.jpg" alt="sugarplum2" class="bilde">
                            <section class="overlay">
                                <img src="nettside Bilder/sugarplum.jpg" alt="sugarplum" class="bilde">
                            </section>
                            <p class="tekst">Sugarplum</p>
                            <p class="tekst">80 kr</p>
                        </a>
                    </section>
            </section>
        </section>
        
        <section class=rows>
            <section class="flytte">
                    <section class="contain"> 
                        <a class="line" href="https://www.google.com/">
                            <img src="nettside Bilder/euphoria.jpg" alt="euphoria" class="bilde">
                            <section class="overlay">
                                <img src="nettside Bilder/euphoria2.jpg" alt="euphoria2" class="bilde">
                            </section>
                            <p class="tekst">Euphoria</p>
                            <p class="tekst">130 kr</p>
                        </a>
                    </section>
            </section>
    
            <section class="flytte">
                    <section class="contain">
                        <a class="line" href="https://www.google.com/">
                            <img src="nettside Bilder/valentine bundle.jpg" alt="valentine bundle" class="bilde">
                            <p class="tekst">Valentine Bundle</p>
                            <p class="tekst">150 kr</p>
                        </a>
                    </section>
            </section>

            <section class="flytte">
                    <section class="contain">
                        <a class="line" href="https://www.google.com/">
                            <img src="nettside Bilder/naughty.jpg" alt="naughty" class="bilde">
                            <section class="overlay">
                                <img src="nettside Bilder/naughty2.jpg" alt="naughty2" class="bilde">
                            </section>
                            <p class="tekst">Naughty</p>
                            <p class="tekst">80 kr</p>
                        </a>
                    </section>
            </section>
            
            <section class="flytte">
                    <section class="contain">
                        <a class="line" href="https://www.google.com/">
                            <img src="nettside Bilder/14.jpg" alt="14" class="bilde">
                            <section class="overlay">
                                <img src="nettside Bilder/142.jpg" alt="142" class="bilde">
                            </section>
                            <p class="tekst">14</p>
                            <p class="tekst">80 kr</p>
                        </a>
                    </section>
            </section>

            <section id="invi">
                    <section class="contain">
                        <img src="nettside Bilder/ekstra.jpg" class="bilde">
                    </section>
            </section>

            <section id="invi">
                <section class="contain">
                    <img src="nettside Bilder/ekstra.jpg" class="bilde">
                </section>
            </section>
        </section>
    
              
             
        <footer class="footeren">
            <section>
                <img class="logo" src="nettside bilder/Original.svg" height="40px">
            </section>
            <section>
                <ul class="sosial">
                    <li id="sppacen"><a href="https://www.facebook.com/rhoseg0ld" target="_blank"><img src="nettside bilder/facebook.png" height="50px"></a></li>
                    <li><a href="https://www.instagram.com/rhosegoldbeauty/" target="_blank"><img src="nettside bilder/instagram.png" height="50px"></a></li>
                </ul>
            </section>

            <section>
                <p>About</p>
                <p>Contact</p>
                <p>FAQ</p>
                <p>Policies</p>
                <form action="#" method="post">
                    <input type="text" required>
                    <button>Subscribe</button>
                </form>
            </section>
        </footer>
            

    </body>
</html>


